@import "./../../../styles/colours.scss";

.page{
  height: 100%;
  width: 100%;
  padding: 90px 25%;

  .image-container{
    height: 310x;
    width: 100%;
    background-color: black;

    img{
      width: 100%;
      height: 100%;
    }
  }


  .questions{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
  }
}
