<div class="page">
  <section class="header">
    <div class="image-container">
      <img src="{{ questions.imagemCapa }}" alt="capa-ciencias" />
      <div class="header-data">
        <div class="text">
          <h1>{{ questions.titulo }}</h1>
          <p>{{ questions.descricao }}</p>
        </div>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </div>
  </section>
  <section class="questions" *ngFor="let question of questions.perguntas">
    <app-question-component [questionData]="question"></app-question-component>
  </section>
  <section class="conclusion">
    <button class="back" mat-stroked-button>
      <span>Voltar</span>
    </button>
    <button class="next" mat-flat-button color="warn">
      <span>Proxima</span>
    </button>
  </section>
</div>
