@import './../../../styles/colours.scss';

.header {
  display: grid;
  grid-template-columns: 2fr 5fr ;
  padding: 20px 15px;
  color: $cor-terciaria;
  background-color: var(--cor-primaria);

  .pageTitle {
    display: flex;
    align-items: center;
    gap: 10px;

    i {
      font-size: 22px;
    }

    h2 {
      font-size: 30px;
      color: $cor-terciaria;
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 18px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);

    input {
      width: 90%;
      padding: 8px;
      font-size: 18px;
      background-color: transparent;
    }

    input:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

h2{
  margin: 0;
}
