<section class="header">
  <div class="begin">
    <div class="title">
      <i class="bi-file-earmark-plus-fill"></i>
      <h2>Gestor de atividades</h2>
    </div>
  </div>
  <div class="meddle">
    <button class="pageBtn">
      <span class="mat-text">Formulários</span>
    </button>
    <button class="pageBtn">
      <span class="mat-text">Responder</span>
    </button>
    <button class="pageBtn">
      <span class="mat-text">Resultados</span>
    </button>
  </div>
  <div class="end">
    <div class="icons-content" (click)="toggleDarkMode()">
      <i class="bi bi-moon-fill"></i>
    </div>
    <div class="icons-content">
      <i class="bi bi-person-fill"></i>
    </div>
  </div>
</section>
