// Modo Claro
$cor-primaria: #15a97d;
$cor-secundaria: rgba(31, 31, 31, 0.15);
$cor-terciaria: rgb(255, 255, 255);
$cor-hover-primaria: rgba(236, 236, 236, 0.7);
$cor-back-cards: rgb(193 193 193 / 8%);

$cor-quarternaria: #b99470;
$cor-quinta: rgba(134, 156, 116, 0.5);
$cor-texto: #2e2e2e;
$cor-hover-secundaria: rgba(169, 179, 136, 0.15);
$cor-hover-dark-secundaria: rgba(169, 179, 136, 0.3);
$cor-btn: #5f6f52;
$cor-btn-secundaria: #5f6f52;

//escuro
$cor-dark-primaria: #2e2e2e;
$cor-dark-secundaria: rgba(50, 50, 50, 0.8);
$cor-dark-terciaria: rgb(16, 20, 24);
$cor-dark-hover-primaria: rgb(16, 20, 24, 0.7);

$cor-dark-quarternaria: #7a6658;
$cor-dark-texto: #eeeeee;
$cor-hover-dark-secundaria: #222222;
$cor-dark-btn: #4e9f3d;
$cor-dark-quinta: #2e2e2e;
$cor-btn-dark-secundaria: #4c4c4b;

//#2f3031
$cor-sombra: #040d12;

// Variáveis CSS para o modo claro
body {
  --cor-primaria: #{$cor-primaria};
  --cor-secundaria: #{$cor-secundaria};
  --cor-terciaria: #{$cor-terciaria};

  --cor-quarternaria: #{$cor-quarternaria};
  --cor-quinta: #{$cor-quinta};
  --cor-text: #{$cor-texto};
  --cor-hover-primaria: #{$cor-hover-primaria};
  --cor-hover-secundaria: #{$cor-hover-secundaria};
  --cor-btn: #{$cor-btn};
  --cor-btn-secundaria: #{$cor-btn-secundaria};
}

// Variáveis CSS para o modo escuro
body.dark-mode {
  --cor-primaria: #{$cor-dark-primaria};
  --cor-secundaria: #{$cor-dark-secundaria};
  --cor-terciaria: #{$cor-dark-terciaria};

  --cor-quarternaria: #{$cor-dark-quarternaria};
  --cor-quinta: #{$cor-dark-quinta};
  --cor-text: #{$cor-dark-texto};
  --cor-hover-primaria: #{$cor-dark-hover-primaria};
  --cor-hover-secundaria: #{$cor-hover-dark-secundaria};
  --cor-btn: #{$cor-dark-btn};
  --cor-btn-secundaria: #{$cor-btn-dark-secundaria};
}
