@import "./../../../../styles/colours.scss";
@import "./../../../../styles/fonts.scss";

mat-form-field {
  height: 55px;
  background-color: var(--cor-back-cards);
  font-size: 15px;
  width: 100%;
}
