@import "./../../../styles/colours.scss";
@import "./../../../styles/fonts.scss";

.form-card {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: transparent;
  color: var(--cor-text);
  border: solid 1px var(--cor-secundaria);

  img {
    height: 150px;
    object-fit: cover;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 2px 8px 15px;

    .deletebtn {
      padding: 8px;
      margin-right: 2px;
      border-radius: 8px;
      border: solid 1px var(--cor-secundaria);
      color: var(--cor-text) !important;
      background-color: transparent;

      &:hover{
        background-color: $cor-secundaria;
      }
    }

    .mainInfo {
      display: flex;
      flex-direction: column;

      h3 {
        font-weight: $font-wheit-bold;
        font-family: $font-poppins;
        margin: 0;
      }
      h4 {
        font-size: 13px;
        font-family: $font-poppins;

        opacity: 0.5;
        margin-bottom: 2px;
      }
    }
  }
  .stats {
    display: flex;
    gap: 12px;
    padding: 5px 15px;

    div {
      display: flex;
      gap: 3px;
      font-size: 12px;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 4px;

    button {
      font-size: 12px !important;
      color: var(--cor-text) !important;

    }

    .partilhar {
      background-color: $cor-primaria;
      color: #eeeeee !important;
    }
  }
}
