<mat-card class="form-card">
  <mat-card-content style="padding: 0">
    <div class="container-informations">
      <img src="assets/imagens/capas.png" />
      <div class="header">
        <div class="mainInfo">
          <h3>Relatorio de atividades</h3>
          <h4>Novembro de 2023</h4>
        </div>
        <div>
          <button class="deletebtn">
            <i class="bi bi-trash-fill"></i>
          </button>
          <button class="deletebtn">
            <i class="bi bi-file-earmark-arrow-down-fill"></i>
          </button>
        </div>
      </div>
      <div class="stats">
        <div>
          <span><i class="bi bi-send-fill"></i></span>
          <span>10</span>
        </div>
        <div>
          <span><i class="bi bi-reply-fill"></i></span>
          <span>2</span>
        </div>
        <div>
          <span><i class="bi bi-hourglass-split"></i></span>
          <span>8</span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Editar</button>
    <button mat-button>Avaliar</button>
    <button class="partilhar" mat-button (click)="openModal()">
      Partilhar
    </button>
  </mat-card-actions>
</mat-card>
