<div
  [ngClass]="showFiller ? 'nav-open' : 'nav-close'"
  class="example-container"
>
  <div *ngIf="!showFiller" class="toggleNav" (click)="showFiller = !showFiller">
    <i class="bi bi-list"></i>
  </div>

  <div *ngIf="showFiller" class="toggleNav" (click)="showFiller = !showFiller">
    <i class="bi bi-list-nested"></i>
  </div>

  <div *ngIf="showFiller" class="pages Text">
    <div class="icons-content">
      <i class="bi bi-file-earmark-plus-fill"></i>
      <span class="mat-text">Formularios</span>
    </div>
    <div class="icons-content">
      <i class="bi bi-chat-left-dots-fill"></i>
      <span class="mat-text">Responder</span>
    </div>
    <div class="icons-content">
      <i class="bi bi-clipboard-data-fill"></i>
      <span class="mat-text">Resultados</span>
    </div>
  </div>
  <div *ngIf="!showFiller" class="pages Icons">
    <a class="icons-content hidden" routerLink="">
      <i class="bi bi-list"></i>
    </a>
    <div class="icons-content">
      <i class="bi bi-file-earmark-plus-fill"></i>
    </div>
    <div class="icons-content">
      <i class="bi bi-chat-left-dots-fill"></i>
    </div>
    <div class="icons-content">
      <i class="bi bi-clipboard-data-fill"></i>
    </div>
  </div>

  <div *ngIf="!showFiller" class="tools">
    <div class="icons-content" (click)="toggleDarkMode()">
      <i class="bi bi-moon-fill"></i>
    </div>
    <div class="icons-content">
      <i class="bi bi-gear-fill"></i>
    </div>
  </div>

  <div *ngIf="showFiller" class="tools">
    <div class="icons-content" (click)="toggleDarkMode()">
      <i class="bi bi-moon-fill"></i>
      <span>Modo escuro</span>
    </div>
    <div class="icons-content">
      <i class="bi bi-gear-fill"></i>
      <span>Configurações</span>
    </div>
  </div>

  <div *ngIf="showFiller" class="profile">
    <i class="bi bi-person-circle"></i>
    <span class="profile-text">Meu Perfil</span>
  </div>

  <div *ngIf="!showFiller" class="profile">
    <i class="bi bi-person-circle"></i>
  </div>
</div>
