@import "./../../../styles/colours.scss";
@import "./../../../styles/fonts.scss";

.common-padding-color {
  color: var(--cor-text);
}

.nav-open {
  transition: width 0.5s;
}

.nav-close {
  transition: width 0.5s;
}

.example-container {
  position: sticky;
  z-index: 10;
  display: grid;
  grid-template-rows: auto 8fr 1fr auto;
  background-color: var(--cor-primaria);
  align-items: start;
  border-right: solid 1px var(--cor-secundaria);
  height: 100vh;
  font-family: $font-poppins;
  font-weight: $font-wheit-medium;
  box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.3);

  .toggleNav {
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px var(--cor-secundaria);
  }

  .profile {
    padding: 15px 28px;
    display: flex;
    gap: 23px;
    align-items: center;
    border-top: solid 1px var(--cor-secundaria);
    background-color: var(--cor-hover-primaria);
  }
}

.toggleNav, .profile,
.icons-content {
  @extend .common-padding-color;

  i {
    font-size: 22px;
  }

  &:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
  }
}

.icons-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 15px;
  padding: 10px 15px;
  border-radius: 8px;

  i {
    font-size: 23px;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .example-container {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--cor-primaria);
    align-items: stretch;
    height: auto;

    .tools,
    .profile {
      display: none;
    }
  }
  .pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .toggleNav {
    display: none;
  }

  .hidden {
    display: block;
  }
}
