@import "./../../../../styles/colours.scss";
@import "./../../../../styles/fonts.scss";

.multipleAnswer {
  background-color: var(--cor-back-cards);
  color: $cor-texto;
  font-size: 15px;
  width: 100%;
}

h4,
mat-checkbox {
  color: var(--cor-text);
}
