@import "./../../../styles/styles.scss";

.createFormBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $cor-back-cards;
  border-radius: 10px;

  mat-card {
    box-shadow: none;
    padding: 2% 5%;
    background-color: transparent;

    width: 100%;
    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .search-box {
        input {
          background-color: var(--cor-terciaria);
          width: 90%;
          padding: 8px;
          font-size: 18px;
          font-family: $font-poppins;
          border-radius: 5px;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .tools {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--cor-terciaria);

    .questionType {
      flex-grow: 1;

      mat-form-field {
        display: flex;
        flex-direction: row;
        width: 100%;
      }
    }

    .icons {
      display: flex;
      justify-content: space-evenly;
      flex-grow: 1;

      i {
        font-size: 20px;
      }
    }
  }
}
